/*general*/

body {
  font-family: 'Verdana', sans-serif;
  color: #222;
  margin: none;
}

#content {
  text-align: center;
  width: 90%;
  margin: auto;
}

h1 {
  text-transform: uppercase;
}

p {
  font-size: .8em;
  line-height: 2em;
}

#first-heading, #second-heading, #sleep-coach-heading {
  font-size: 2.8em;
  letter-spacing: 1px;
  /*font-weight: 450;*/
}

/*main header block*/

.first-header {
  width: 90%;
  margin: 100px auto;
}

/*youtube block*/

/*second header block*/

.second-header {
  width: 85%;
  margin: 150px auto 85px auto;
}

/*image grid block*/

#image-grid-items p {
  text-align: left;
}

#image-grid-items img {
  width: 100%;
  height: auto;
}

.grid-item {
  margin-bottom: 85px;
}

#cta a {
  font-size: 1em;
  text-transform: uppercase;
  color: #00619c;
}

/*product grid block*/

.product-grid {
  margin-top: 150px;
}

#products-heading {
  font-size: 1em;
}

#product-grid-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#product-grid-items p {
  text-transform: uppercase;
}

/*sleep coach block*/

.sleep-coach-header {
  margin-bottom: 50px;
}
