/*general*/

body {
  font-family: 'Verdana', sans-serif;
}

#content {
  text-align: center;
}

h1 {
  text-transform: uppercase;
}

/*main header block*/

/*youtube block*/

/*second header block*/

/*image grid block*/

/*product grid block*/

/*sleep coach block*/
